<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a class="clickable" (click)="onSelectedProducts()">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="clickable" (click)="onProductsPromo()">Promotions</a></li>
          <li><a class="clickable" (click)="onProductsDispo()">Disponibles</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="col-md-3">
    <ul class="list-group" *ngIf="categories">
      <li [ngClass]="{active:currentCategory==c}" (click)="getProductsByCat(c)" class="list-group-item clickable" *ngFor="let c of categories._embedded.categories">
        {{c.description}}

      </li>
    </ul>

  </div>
  <div class="col-md-9">
    <app-products></app-products>
  </div>
</div>
