<div *ngIf="products">
  <div><h3>{{title}}</h3></div>
<div *ngFor="let p of products._embedded.products">
  <div class="col-md-6">
  <div class="panel panel-default">
<div class="panel-heading">{{p.name}}</div>
    <div class="panel-body"></div>
    <table>
      <tr>
        <td rowspan="3">
          <img height="100" src="{{this.catService.host+'/photoProduct/'+p.id}}"/>
          <p>
            <button (click)="onEditPhoto(p)">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </p>
            <p *ngIf="editPhoto==true &&currentProduct==p">
              <input type="file" (change)="onSelectedFile($event)">
              <button class="btn bg-success" (click)="uploadPhoto()">Upload</button>
              {{progress}}
            </p>
        </td>
      </tr>

      <tr>
        <td></td>
        <td>{{p.description}}</td>
      </tr>
      <tr>
        <td></td>
        <td>{{p.currentPrice |number:'0.2'}}</td>
      </tr>
    </table>
  </div>
  </div>
</div>
</div>
